.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 4vw;
       column-gap: 4vw;
  padding-left: 4vw;
  padding-right: 4vw;
}

.grid-start-1 {
  grid-column-start: 1;
}

.grid-end-1 {
  grid-column-end: -1;
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-end-2 {
  grid-column-end: -2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-end-3 {
  grid-column-end: -3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-end-4 {
  grid-column-end: -4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-end-5 {
  grid-column-end: -5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-end-6 {
  grid-column-end: -6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-end-7 {
  grid-column-end: -7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-end-8 {
  grid-column-end: -8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-end-9 {
  grid-column-end: -9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-end-10 {
  grid-column-end: -10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-end-11 {
  grid-column-end: -11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-end-12 {
  grid-column-end: -12;
}

.grid-span-1 {
  grid-column-end: span 1;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.grid-column-order-first {
  order: -1;
}

.grid-column-order-last {
  order: 13;
}

.grid-column-order-1 {
  order: 1;
}

.grid-column-order-2 {
  order: 2;
}

.grid-column-order-3 {
  order: 3;
}

.grid-column-order-4 {
  order: 4;
}

.grid-column-order-5 {
  order: 5;
}

.grid-column-order-6 {
  order: 6;
}

.grid-column-order-7 {
  order: 7;
}

.grid-column-order-8 {
  order: 8;
}

.grid-column-order-9 {
  order: 9;
}

.grid-column-order-10 {
  order: 10;
}

.grid-column-order-11 {
  order: 11;
}

.grid-column-order-12 {
  order: 12;
}

@media screen and (min-width: 420px) {
  .grid-xs-start-1 {
    grid-column-start: 1;
  }

  .grid-xs-end-1 {
    grid-column-start: -1;
  }

  .grid-xs-start-2 {
    grid-column-start: 2;
  }

  .grid-xs-end-2 {
    grid-column-start: -2;
  }

  .grid-xs-start-3 {
    grid-column-start: 3;
  }

  .grid-xs-end-3 {
    grid-column-start: -3;
  }

  .grid-xs-start-4 {
    grid-column-start: 4;
  }

  .grid-xs-end-4 {
    grid-column-start: -4;
  }

  .grid-xs-start-5 {
    grid-column-start: 5;
  }

  .grid-xs-end-5 {
    grid-column-start: -5;
  }

  .grid-xs-start-6 {
    grid-column-start: 6;
  }

  .grid-xs-end-6 {
    grid-column-start: -6;
  }

  .grid-xs-start-7 {
    grid-column-start: 7;
  }

  .grid-xs-end-7 {
    grid-column-start: -7;
  }

  .grid-xs-start-8 {
    grid-column-start: 8;
  }

  .grid-xs-end-8 {
    grid-column-start: -8;
  }

  .grid-xs-start-9 {
    grid-column-start: 9;
  }

  .grid-xs-end-9 {
    grid-column-start: -9;
  }

  .grid-xs-start-10 {
    grid-column-start: 10;
  }

  .grid-xs-end-10 {
    grid-column-start: -10;
  }

  .grid-xs-start-11 {
    grid-column-start: 11;
  }

  .grid-xs-end-11 {
    grid-column-start: -11;
  }

  .grid-xs-start-12 {
    grid-column-start: 12;
  }

  .grid-xs-end-12 {
    grid-column-start: -12;
  }

  .grid-xs-span-1 {
    grid-column-end: span 1;
  }

  .grid-xs-span-2 {
    grid-column-end: span 2;
  }

  .grid-xs-span-3 {
    grid-column-end: span 3;
  }

  .grid-xs-span-4 {
    grid-column-end: span 4;
  }

  .grid-xs-span-5 {
    grid-column-end: span 5;
  }

  .grid-xs-span-6 {
    grid-column-end: span 6;
  }

  .grid-xs-span-7 {
    grid-column-end: span 7;
  }

  .grid-xs-span-8 {
    grid-column-end: span 8;
  }

  .grid-xs-span-9 {
    grid-column-end: span 9;
  }

  .grid-xs-span-10 {
    grid-column-end: span 10;
  }

  .grid-xs-span-11 {
    grid-column-end: span 11;
  }

  .grid-xs-span-12 {
    grid-column-end: span 12;
  }

  .grid-xs-column-order-first {
    order: -1;
  }

  .grid-xs-column-order-last {
    order: 13;
  }

  .grid-xs-column-order-1 {
    order: 1;
  }

  .grid-xs-column-order-2 {
    order: 2;
  }

  .grid-xs-column-order-3 {
    order: 3;
  }

  .grid-xs-column-order-4 {
    order: 4;
  }

  .grid-xs-column-order-5 {
    order: 5;
  }

  .grid-xs-column-order-6 {
    order: 6;
  }

  .grid-xs-column-order-7 {
    order: 7;
  }

  .grid-xs-column-order-8 {
    order: 8;
  }

  .grid-xs-column-order-9 {
    order: 9;
  }

  .grid-xs-column-order-10 {
    order: 10;
  }

  .grid-xs-column-order-11 {
    order: 11;
  }

  .grid-xs-column-order-12 {
    order: 12;
  }
}
@media screen and (min-width: 544px) {
  .grid-sm-start-1 {
    grid-column-start: 1;
  }

  .grid-sm-end-1 {
    grid-column-start: -1;
  }

  .grid-sm-start-2 {
    grid-column-start: 2;
  }

  .grid-sm-end-2 {
    grid-column-start: -2;
  }

  .grid-sm-start-3 {
    grid-column-start: 3;
  }

  .grid-sm-end-3 {
    grid-column-start: -3;
  }

  .grid-sm-start-4 {
    grid-column-start: 4;
  }

  .grid-sm-end-4 {
    grid-column-start: -4;
  }

  .grid-sm-start-5 {
    grid-column-start: 5;
  }

  .grid-sm-end-5 {
    grid-column-start: -5;
  }

  .grid-sm-start-6 {
    grid-column-start: 6;
  }

  .grid-sm-end-6 {
    grid-column-start: -6;
  }

  .grid-sm-start-7 {
    grid-column-start: 7;
  }

  .grid-sm-end-7 {
    grid-column-start: -7;
  }

  .grid-sm-start-8 {
    grid-column-start: 8;
  }

  .grid-sm-end-8 {
    grid-column-start: -8;
  }

  .grid-sm-start-9 {
    grid-column-start: 9;
  }

  .grid-sm-end-9 {
    grid-column-start: -9;
  }

  .grid-sm-start-10 {
    grid-column-start: 10;
  }

  .grid-sm-end-10 {
    grid-column-start: -10;
  }

  .grid-sm-start-11 {
    grid-column-start: 11;
  }

  .grid-sm-end-11 {
    grid-column-start: -11;
  }

  .grid-sm-start-12 {
    grid-column-start: 12;
  }

  .grid-sm-end-12 {
    grid-column-start: -12;
  }

  .grid-sm-span-1 {
    grid-column-end: span 1;
  }

  .grid-sm-span-2 {
    grid-column-end: span 2;
  }

  .grid-sm-span-3 {
    grid-column-end: span 3;
  }

  .grid-sm-span-4 {
    grid-column-end: span 4;
  }

  .grid-sm-span-5 {
    grid-column-end: span 5;
  }

  .grid-sm-span-6 {
    grid-column-end: span 6;
  }

  .grid-sm-span-7 {
    grid-column-end: span 7;
  }

  .grid-sm-span-8 {
    grid-column-end: span 8;
  }

  .grid-sm-span-9 {
    grid-column-end: span 9;
  }

  .grid-sm-span-10 {
    grid-column-end: span 10;
  }

  .grid-sm-span-11 {
    grid-column-end: span 11;
  }

  .grid-sm-span-12 {
    grid-column-end: span 12;
  }

  .grid-sm-column-order-first {
    order: -1;
  }

  .grid-sm-column-order-last {
    order: 13;
  }

  .grid-sm-column-order-1 {
    order: 1;
  }

  .grid-sm-column-order-2 {
    order: 2;
  }

  .grid-sm-column-order-3 {
    order: 3;
  }

  .grid-sm-column-order-4 {
    order: 4;
  }

  .grid-sm-column-order-5 {
    order: 5;
  }

  .grid-sm-column-order-6 {
    order: 6;
  }

  .grid-sm-column-order-7 {
    order: 7;
  }

  .grid-sm-column-order-8 {
    order: 8;
  }

  .grid-sm-column-order-9 {
    order: 9;
  }

  .grid-sm-column-order-10 {
    order: 10;
  }

  .grid-sm-column-order-11 {
    order: 11;
  }

  .grid-sm-column-order-12 {
    order: 12;
  }
}
@media screen and (min-width: 768px) {
  .grid-md-start-1 {
    grid-column-start: 1;
  }

  .grid-md-end-1 {
    grid-column-start: -1;
  }

  .grid-md-start-2 {
    grid-column-start: 2;
  }

  .grid-md-end-2 {
    grid-column-start: -2;
  }

  .grid-md-start-3 {
    grid-column-start: 3;
  }

  .grid-md-end-3 {
    grid-column-start: -3;
  }

  .grid-md-start-4 {
    grid-column-start: 4;
  }

  .grid-md-end-4 {
    grid-column-start: -4;
  }

  .grid-md-start-5 {
    grid-column-start: 5;
  }

  .grid-md-end-5 {
    grid-column-start: -5;
  }

  .grid-md-start-6 {
    grid-column-start: 6;
  }

  .grid-md-end-6 {
    grid-column-start: -6;
  }

  .grid-md-start-7 {
    grid-column-start: 7;
  }

  .grid-md-end-7 {
    grid-column-start: -7;
  }

  .grid-md-start-8 {
    grid-column-start: 8;
  }

  .grid-md-end-8 {
    grid-column-start: -8;
  }

  .grid-md-start-9 {
    grid-column-start: 9;
  }

  .grid-md-end-9 {
    grid-column-start: -9;
  }

  .grid-md-start-10 {
    grid-column-start: 10;
  }

  .grid-md-end-10 {
    grid-column-start: -10;
  }

  .grid-md-start-11 {
    grid-column-start: 11;
  }

  .grid-md-end-11 {
    grid-column-start: -11;
  }

  .grid-md-start-12 {
    grid-column-start: 12;
  }

  .grid-md-end-12 {
    grid-column-start: -12;
  }

  .grid-md-span-1 {
    grid-column-end: span 1;
  }

  .grid-md-span-2 {
    grid-column-end: span 2;
  }

  .grid-md-span-3 {
    grid-column-end: span 3;
  }

  .grid-md-span-4 {
    grid-column-end: span 4;
  }

  .grid-md-span-5 {
    grid-column-end: span 5;
  }

  .grid-md-span-6 {
    grid-column-end: span 6;
  }

  .grid-md-span-7 {
    grid-column-end: span 7;
  }

  .grid-md-span-8 {
    grid-column-end: span 8;
  }

  .grid-md-span-9 {
    grid-column-end: span 9;
  }

  .grid-md-span-10 {
    grid-column-end: span 10;
  }

  .grid-md-span-11 {
    grid-column-end: span 11;
  }

  .grid-md-span-12 {
    grid-column-end: span 12;
  }

  .grid-md-column-order-first {
    order: -1;
  }

  .grid-md-column-order-last {
    order: 13;
  }

  .grid-md-column-order-1 {
    order: 1;
  }

  .grid-md-column-order-2 {
    order: 2;
  }

  .grid-md-column-order-3 {
    order: 3;
  }

  .grid-md-column-order-4 {
    order: 4;
  }

  .grid-md-column-order-5 {
    order: 5;
  }

  .grid-md-column-order-6 {
    order: 6;
  }

  .grid-md-column-order-7 {
    order: 7;
  }

  .grid-md-column-order-8 {
    order: 8;
  }

  .grid-md-column-order-9 {
    order: 9;
  }

  .grid-md-column-order-10 {
    order: 10;
  }

  .grid-md-column-order-11 {
    order: 11;
  }

  .grid-md-column-order-12 {
    order: 12;
  }
}
@media screen and (min-width: 996px) {
  .grid-lg-start-1 {
    grid-column-start: 1;
  }

  .grid-lg-end-1 {
    grid-column-start: -1;
  }

  .grid-lg-start-2 {
    grid-column-start: 2;
  }

  .grid-lg-end-2 {
    grid-column-start: -2;
  }

  .grid-lg-start-3 {
    grid-column-start: 3;
  }

  .grid-lg-end-3 {
    grid-column-start: -3;
  }

  .grid-lg-start-4 {
    grid-column-start: 4;
  }

  .grid-lg-end-4 {
    grid-column-start: -4;
  }

  .grid-lg-start-5 {
    grid-column-start: 5;
  }

  .grid-lg-end-5 {
    grid-column-start: -5;
  }

  .grid-lg-start-6 {
    grid-column-start: 6;
  }

  .grid-lg-end-6 {
    grid-column-start: -6;
  }

  .grid-lg-start-7 {
    grid-column-start: 7;
  }

  .grid-lg-end-7 {
    grid-column-start: -7;
  }

  .grid-lg-start-8 {
    grid-column-start: 8;
  }

  .grid-lg-end-8 {
    grid-column-start: -8;
  }

  .grid-lg-start-9 {
    grid-column-start: 9;
  }

  .grid-lg-end-9 {
    grid-column-start: -9;
  }

  .grid-lg-start-10 {
    grid-column-start: 10;
  }

  .grid-lg-end-10 {
    grid-column-start: -10;
  }

  .grid-lg-start-11 {
    grid-column-start: 11;
  }

  .grid-lg-end-11 {
    grid-column-start: -11;
  }

  .grid-lg-start-12 {
    grid-column-start: 12;
  }

  .grid-lg-end-12 {
    grid-column-start: -12;
  }

  .grid-lg-span-1 {
    grid-column-end: span 1;
  }

  .grid-lg-span-2 {
    grid-column-end: span 2;
  }

  .grid-lg-span-3 {
    grid-column-end: span 3;
  }

  .grid-lg-span-4 {
    grid-column-end: span 4;
  }

  .grid-lg-span-5 {
    grid-column-end: span 5;
  }

  .grid-lg-span-6 {
    grid-column-end: span 6;
  }

  .grid-lg-span-7 {
    grid-column-end: span 7;
  }

  .grid-lg-span-8 {
    grid-column-end: span 8;
  }

  .grid-lg-span-9 {
    grid-column-end: span 9;
  }

  .grid-lg-span-10 {
    grid-column-end: span 10;
  }

  .grid-lg-span-11 {
    grid-column-end: span 11;
  }

  .grid-lg-span-12 {
    grid-column-end: span 12;
  }

  .grid-lg-column-order-first {
    order: -1;
  }

  .grid-lg-column-order-last {
    order: 13;
  }

  .grid-lg-column-order-1 {
    order: 1;
  }

  .grid-lg-column-order-2 {
    order: 2;
  }

  .grid-lg-column-order-3 {
    order: 3;
  }

  .grid-lg-column-order-4 {
    order: 4;
  }

  .grid-lg-column-order-5 {
    order: 5;
  }

  .grid-lg-column-order-6 {
    order: 6;
  }

  .grid-lg-column-order-7 {
    order: 7;
  }

  .grid-lg-column-order-8 {
    order: 8;
  }

  .grid-lg-column-order-9 {
    order: 9;
  }

  .grid-lg-column-order-10 {
    order: 10;
  }

  .grid-lg-column-order-11 {
    order: 11;
  }

  .grid-lg-column-order-12 {
    order: 12;
  }
}
@media screen and (min-width: 1200px) {
  .grid-xl-start-1 {
    grid-column-start: 1;
  }

  .grid-xl-end-1 {
    grid-column-start: -1;
  }

  .grid-xl-start-2 {
    grid-column-start: 2;
  }

  .grid-xl-end-2 {
    grid-column-start: -2;
  }

  .grid-xl-start-3 {
    grid-column-start: 3;
  }

  .grid-xl-end-3 {
    grid-column-start: -3;
  }

  .grid-xl-start-4 {
    grid-column-start: 4;
  }

  .grid-xl-end-4 {
    grid-column-start: -4;
  }

  .grid-xl-start-5 {
    grid-column-start: 5;
  }

  .grid-xl-end-5 {
    grid-column-start: -5;
  }

  .grid-xl-start-6 {
    grid-column-start: 6;
  }

  .grid-xl-end-6 {
    grid-column-start: -6;
  }

  .grid-xl-start-7 {
    grid-column-start: 7;
  }

  .grid-xl-end-7 {
    grid-column-start: -7;
  }

  .grid-xl-start-8 {
    grid-column-start: 8;
  }

  .grid-xl-end-8 {
    grid-column-start: -8;
  }

  .grid-xl-start-9 {
    grid-column-start: 9;
  }

  .grid-xl-end-9 {
    grid-column-start: -9;
  }

  .grid-xl-start-10 {
    grid-column-start: 10;
  }

  .grid-xl-end-10 {
    grid-column-start: -10;
  }

  .grid-xl-start-11 {
    grid-column-start: 11;
  }

  .grid-xl-end-11 {
    grid-column-start: -11;
  }

  .grid-xl-start-12 {
    grid-column-start: 12;
  }

  .grid-xl-end-12 {
    grid-column-start: -12;
  }

  .grid-xl-span-1 {
    grid-column-end: span 1;
  }

  .grid-xl-span-2 {
    grid-column-end: span 2;
  }

  .grid-xl-span-3 {
    grid-column-end: span 3;
  }

  .grid-xl-span-4 {
    grid-column-end: span 4;
  }

  .grid-xl-span-5 {
    grid-column-end: span 5;
  }

  .grid-xl-span-6 {
    grid-column-end: span 6;
  }

  .grid-xl-span-7 {
    grid-column-end: span 7;
  }

  .grid-xl-span-8 {
    grid-column-end: span 8;
  }

  .grid-xl-span-9 {
    grid-column-end: span 9;
  }

  .grid-xl-span-10 {
    grid-column-end: span 10;
  }

  .grid-xl-span-11 {
    grid-column-end: span 11;
  }

  .grid-xl-span-12 {
    grid-column-end: span 12;
  }

  .grid-xl-column-order-first {
    order: -1;
  }

  .grid-xl-column-order-last {
    order: 13;
  }

  .grid-xl-column-order-1 {
    order: 1;
  }

  .grid-xl-column-order-2 {
    order: 2;
  }

  .grid-xl-column-order-3 {
    order: 3;
  }

  .grid-xl-column-order-4 {
    order: 4;
  }

  .grid-xl-column-order-5 {
    order: 5;
  }

  .grid-xl-column-order-6 {
    order: 6;
  }

  .grid-xl-column-order-7 {
    order: 7;
  }

  .grid-xl-column-order-8 {
    order: 8;
  }

  .grid-xl-column-order-9 {
    order: 9;
  }

  .grid-xl-column-order-10 {
    order: 10;
  }

  .grid-xl-column-order-11 {
    order: 11;
  }

  .grid-xl-column-order-12 {
    order: 12;
  }
}
@media screen and (min-width: 1920px) {
  .grid-xxl-start-1 {
    grid-column-start: 1;
  }

  .grid-xxl-end-1 {
    grid-column-start: -1;
  }

  .grid-xxl-start-2 {
    grid-column-start: 2;
  }

  .grid-xxl-end-2 {
    grid-column-start: -2;
  }

  .grid-xxl-start-3 {
    grid-column-start: 3;
  }

  .grid-xxl-end-3 {
    grid-column-start: -3;
  }

  .grid-xxl-start-4 {
    grid-column-start: 4;
  }

  .grid-xxl-end-4 {
    grid-column-start: -4;
  }

  .grid-xxl-start-5 {
    grid-column-start: 5;
  }

  .grid-xxl-end-5 {
    grid-column-start: -5;
  }

  .grid-xxl-start-6 {
    grid-column-start: 6;
  }

  .grid-xxl-end-6 {
    grid-column-start: -6;
  }

  .grid-xxl-start-7 {
    grid-column-start: 7;
  }

  .grid-xxl-end-7 {
    grid-column-start: -7;
  }

  .grid-xxl-start-8 {
    grid-column-start: 8;
  }

  .grid-xxl-end-8 {
    grid-column-start: -8;
  }

  .grid-xxl-start-9 {
    grid-column-start: 9;
  }

  .grid-xxl-end-9 {
    grid-column-start: -9;
  }

  .grid-xxl-start-10 {
    grid-column-start: 10;
  }

  .grid-xxl-end-10 {
    grid-column-start: -10;
  }

  .grid-xxl-start-11 {
    grid-column-start: 11;
  }

  .grid-xxl-end-11 {
    grid-column-start: -11;
  }

  .grid-xxl-start-12 {
    grid-column-start: 12;
  }

  .grid-xxl-end-12 {
    grid-column-start: -12;
  }

  .grid-xxl-span-1 {
    grid-column-end: span 1;
  }

  .grid-xxl-span-2 {
    grid-column-end: span 2;
  }

  .grid-xxl-span-3 {
    grid-column-end: span 3;
  }

  .grid-xxl-span-4 {
    grid-column-end: span 4;
  }

  .grid-xxl-span-5 {
    grid-column-end: span 5;
  }

  .grid-xxl-span-6 {
    grid-column-end: span 6;
  }

  .grid-xxl-span-7 {
    grid-column-end: span 7;
  }

  .grid-xxl-span-8 {
    grid-column-end: span 8;
  }

  .grid-xxl-span-9 {
    grid-column-end: span 9;
  }

  .grid-xxl-span-10 {
    grid-column-end: span 10;
  }

  .grid-xxl-span-11 {
    grid-column-end: span 11;
  }

  .grid-xxl-span-12 {
    grid-column-end: span 12;
  }

  .grid-xxl-column-order-first {
    order: -1;
  }

  .grid-xxl-column-order-last {
    order: 13;
  }

  .grid-xxl-column-order-1 {
    order: 1;
  }

  .grid-xxl-column-order-2 {
    order: 2;
  }

  .grid-xxl-column-order-3 {
    order: 3;
  }

  .grid-xxl-column-order-4 {
    order: 4;
  }

  .grid-xxl-column-order-5 {
    order: 5;
  }

  .grid-xxl-column-order-6 {
    order: 6;
  }

  .grid-xxl-column-order-7 {
    order: 7;
  }

  .grid-xxl-column-order-8 {
    order: 8;
  }

  .grid-xxl-column-order-9 {
    order: 9;
  }

  .grid-xxl-column-order-10 {
    order: 10;
  }

  .grid-xxl-column-order-11 {
    order: 11;
  }

  .grid-xxl-column-order-12 {
    order: 12;
  }
}
.grid-columns-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid-columns-10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid-columns-11 {
  grid-template-columns: repeat(11, 1fr);
}

.grid-columns-12 {
  grid-template-columns: repeat(12, 1fr);
}